<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<title>Moje zakupione</title>
</head>
<body class="bg-amber-400">

<div th:replace="~{partials/navi2.html :: header-better}"></div>

<div class="container min-h-screen mx-auto mb-auto px-4 mt-8">  

<div class="table w-full p-2">
        <table class="w-full border border-amber-600">
            <thead>
                <tr class="bg-amber-500 border-b border-amber-600">
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D] hidden md:table-cell">
                        <div class="flex items-center justify-center">
                            ID
                        </div>
                    </th>
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D] hidden md:table-cell">
                        <div class="flex items-center justify-center">
                            Typ oferty
                        </div>
                    </th>
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D]">
                        <div class="flex items-center justify-center">
                            Nazwa książki
                        </div>
                    </th>
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D] hidden md:table-cell">
                        <div class="flex items-center justify-center">
                            Cena
                        </div>
                    </th>
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D] hidden md:table-cell">
                        <div class="flex items-center justify-center">
                            Data zakupu
                        </div>
                    </th>
                    <th class="mb-3 border-r border-amber-600 text-base font-medium text-[#07074D]">
                        <div class="flex items-center justify-center">
                            Stan zamówienia
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="el : ${lo}" id="ofertaTR_" class="bg-amber-400 text-center border-b border-amber-600 text-sm text-gray-600">
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:text="${el.id}"></td>
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:if="${el.Typ_oferty} == 0">Sprzedaż</td>
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:if="${el.Typ_oferty} == 1">Wymiana</td>
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:if="${el.Typ_oferty} == 2">Zapytanie</td>
                    <td class="p-2 border-r border-amber-600" th:text="${el.Nazwa_ksiazki}"></td>
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:text="${el.Cena}"></td>
                    <td class="p-2 border-r border-amber-600 hidden md:table-cell" th:text="${el.data_zak}"></td>
    				<td th:each="w: ${lw}" class="p-2 border-r border-amber-600 hidden md:table-cell" th:if="${el.id == w.oferta_id}" th:text="${w.stan_wys}"></td>
                    <td th:if="${el.data_zak == null}">
                        <a th:href="@{/oferty/edytuj/{id}(id=${el.id})}" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                        <a th:href="@{/oferty/usun/{id}(id=${el.id})}" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:replace="~{partials/footer.html :: footer}"></div>

</body>
</html>