<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<title>Oferta - szczegóły</title>
</head>
<body class="bg-amber-400">

<div th:replace="~{partials/navi2.html :: header-better}"></div>

<form class="form-inline" th:action="@{/wysylka/nowa/{id}(id=${oferta.id})}" method="post" enctype="multipart/form-data">
<section class="container min-h-screen mx-auto mb-auto px-4">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="product_photo" class="rounded border-4 border-amber-600 w-52 h-72 xl:h-80" th:src="@{'/img/oferty/' + ${oferta.image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest" th:text="${typOferty}"></h2>
		<h1 class="text-gray-900 text-3xl title-font font-medium mb-1" th:text="${oferta.Nazwa_ksiazki}"></h1>
		<div class="flex mb-4">
  			<h2 class="text-base title-font text-gray-500 tracking-widest" >Stan: <span class="italic" th:text="${oferta.stan}"></span></h2>
		</div>
		<p class="leading-relaxed" th:text="${oferta.opis}"></p>
		<div class="flex mt-6">
  			<span class="title-font font-medium text-2xl text-gray-900" th:text="${oferta.cena}+zł"></span>
  			<button class="flex ml-auto p-2.5 ml-2 text-sm font-medium text-white bg-amber-500 rounded-lg border border-amber-600 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-amber-600 duration-200 ">Zakup</button>
		</div>
      </div>
    </div>
  </div>
</section>
</form>
<div th:replace="~{partials/footer.html :: footer}"></div>

</body>
</html>