<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<title>Passbook - lista ofert</title>
</head>
<body class="bg-amber-400">

<div th:replace="~{partials/navi2.html :: header-better}"></div>

<div class="max-w-2xl mx-auto mt-4">

	<form class="flex items-center" th:action ="@{/oferty/search}" method ="GET">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="search" name="query" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full pl-10 p-2.5" placeholder="Wyszukaj oferty" required>
        </div>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-amber-500 rounded-lg border border-amber-600 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-blue-300 duration-200 "><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
    </form>
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>

<div class="container min-h-screen mx-auto mb-auto px-4">  
	<p class="text-xl mb-4 mt-4 leading-none underline">Lista ofert</p>
	<div class="grid grid-cols-2 gap-8 mt-4 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6">
		<div th:each="el : ${lo}" class="flex flex-col items-center justify-center w-full max-w-lg mx-auto border rounded-md border-amber-600">
  			<img class="object-cover w-full rounded-md h-72 xl:h-80" th:src="@{'/img/oferty/' + ${el.image}}" alt="zjecie_oferta">
  			<h4 class="mt-2 text-lg font-medium text-center" th:text="${el.Nazwa_ksiazki}"></h4>
  			<p class="italic text-gray-500" th:if="${el.Typ_oferty} == 0">Sprzedaż</p>
  			<p class="italic text-gray-500" th:if="${el.Typ_oferty} == 1">Wymiana</p>
  			<p class="italic text-gray-500" th:if="${el.Typ_oferty} == 2">Zapytanie</p>
  			<p th:text="${el.Cena} + 'zł'"></p>

  			<a th:href="@{/oferty/obejrzyj/{id}(id=${el.id})}" class="flex items-center justify-center w-full bg-amber-500 px-2 py-2 mt-4 tracking-wide font-medium capitalize text-xs transition-colors rounded-md duration-500 transform hover:bg-amber-600 hover:text-gray-800 focus:outline-none" >Wybierz</a>
		</div>
	</div>
</div>

<div th:replace="~{partials/footer.html :: footer}"></div>

</body>
</html>