<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<title>Zmień hasło</title>
</head>
<body class="bg-amber-400">

<div th:replace="~{partials/navi2.html :: header-better}"></div>

<div class="container min-h-screen mx-auto mb-auto px-4"> 
<div class="container flex mx-auto w-auto max-w-[620px]">
<div class="bg-green-100 rounded-lg py-5 p-12 px-4 mb-auto mx-auto text-base text-green-700 inline-flex items-center mt-5 w-full flex justify-center justify-content-center align-items-center" role="alert" th:if="${success}">
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
  </svg>
  Hasło zostało zmienione pomyślnie!
</div>
</div>
<form th:action="@{/zmienHasloSave}" method="post" enctype="multipart/form-data">
<main
  class="mx-auto flex min-h-screen w-full items-center justify-center"
>
  <!-- component -->
 
  <section class="flex w-[30rem] flex-col space-y-10">
    <div class="text-center text-4xl font-medium text-gray-800">Zmień hasło</div>

    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-amber-600"
    >
      <input
        type="password"
        name ="OLDpassword"
        placeholder="Stare hasło"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
        required
      />
    </div>
    
    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-amber-600"
    >
      <input
        type="password"
        name="Passwor"
        placeholder="Nowe hasło"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Co najmniej 8 długości, 1 duża litera 1 mała i 1 znak specjalny, spróbuj ponownie.' : '');
                if (this.checkValidity())
                    form.RepeatPasswor.pattern = this.value;"
        required
      />
    </div>

    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-amber-600"
    >
      <input
        type="password"
        name="RepeatPasswor"
        placeholder="Potwierdz nowe hasło"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Wprowadz haslo jak powyzej' : '');"
        required
      />
    </div>

    <button
      class="bg-amber-600 text-center py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
    >
      Zmień
    </button>
    
  </section>
</main>
</form>	
</div>

<div th:replace="~{partials/footer.html :: footer}"></div>

</body>
</html>