<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<title>Zmień stan zamówienia</title>
</head>
<body class="bg-amber-400">

<div th:replace="~{partials/navi2.html :: header-better}"></div>

<div class="container min-h-screen mx-auto mb-auto px-4 mt-8">  

<form class="form-inline" th:action="@{/wysylka/zaaktualizuj/{id}(id=${wysylka.id})}" method="post" enctype="multipart/form-data">
  <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest" th:text="'Typ oferty: '+${typOferty}"></h2>
		<h1 class="text-gray-900 text-3xl title-font font-medium mb-1" th:text="'Dane wysyłki dla książki: '+${oferta.Nazwa_ksiazki}"></h1>
		<p class="leading-relaxed" th:text="'Opcja dostawy: '+ ${wysylka.opcja_dost}"></p>
		<label for="wysylka_stan_wys">Stan wysyłki: </label>
            <select id="wysylka_stan_wys" name="wysylka_stan_wys" class="mt-4">
            <option id="wysylka_stan_wys" name="wysylka_stan_wys" value="Wydrukowana etykieta">Wydrukowana etykieta</option>
            <option id="wysylka_stan_wys" name="wysylka_stan_wys" value="Czeka na nadanie">Czeka na nadanie</option>
            <option id="wysylka_stan_wys" name="wysylka_stan_wys" value="Odebrana przez kuriera">Odebrana przez kuriera</option>
            <option id="wysylka_stan_wys" name="wysylka_stan_wys" value="Nadana - w drodze">Nadana - w drodze</option>
            <option id="wysylka_stan_wys" name="wysylka_stan_wys" value="Odebrana - sprzedaż zakończona">Odebrana - sprzedaż zakończona</option>
            </select>
		<div class="flex mt-6">
  			<button class="flex ml-auto p-2.5 ml-2 text-sm font-medium text-white bg-amber-500 rounded-lg border border-amber-600 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-amber-600 duration-200 ">Zaaktualizuj</button>
		</div>
      </div>
  </div>
</form>
</div>

<div th:replace="~{partials/footer.html :: footer}"></div>

</body>
</html>